{% extends 'base.html.twig' %}
{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ episode.id }} {{ episode.title }}</h1>
            <p>{{ episode.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    </div>
{% endblock %}