<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-around">
    <img>
    <a class="navbar-brand" href="/defaut/">Wild Series</a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 w-10" type="search" placeholder="Act.eur.rice" aria-label="Chercher">
      <button class="btn btn-outline-success my-2 my-sm-0 w-10" type="submit">Chercher</button>
    </form>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genre
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Horreur</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Drame</a>
        </div>
    </div>
    <a class="navbar-brand" href="/defaut/">Mes favoris</a>
    <a class="navbar-brand" href="#">Déconnexion <!-- needs to disconnect user --></a>
    <a class="navbar-brand" href="#">John Doe <!-- needs to be dynamic with user./name --></a>
</nav>  